<form class="form-add-activity" id="form-addUsers" method="post" action="/travell/itinerario/<%=viajeCreado.viajeId%>/addUsers">
    <button class="x-button" id="x-button-formAddUser">
            <i class="fa-solid fa-circle-xmark"></i>
    </button>
    <div class="container-inputs-addUsers">
        <label for="userEmail">Ingresa el email del usuario:</label>
        <input type="text" class="userEmail" name="userEmail" required>
    </div>
    <input type="submit" class="button-addUsers" id="addUser" value="Enviar">
</form>