<header>
    <div class="navbar-container">
        <div class="navbar-logo">
            <a href="/home">
                <img id="logo" src="/images/logo.jpg" alt="logo">
            </a>
        </div>
        <div class="container-search">
            <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            <div class="container-search-form">
                    <form action="/home/find" method="GET" >
                        <label for="search-bar">
                            <input class="search-bar" id="search-bar" class=cen type="text" name='destino' placeholder="Buscar destino">
                        </label>
                    </form>
                    <div class="container-search-views">
                        <ul class="search-views">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
            </div>
        </div>
        
    </div>
</header>