<tapbar>
    <div class="tapbar-menu">
            <ul>
                <li><a class="home" href="/home"><i class="fa-solid fa-house"></i>Inicio</a></li>
                <li><a class="travell" href="/travell"><i class="fa-solid fa-suitcase"></i>Viajes</a></li>
                <li><a class="favorite" href="/favorites/<%=locals.usuarioLogeado.usuarioId%>"><i class="fa-solid fa-heart"></i>Favoritos</a></li>
                <li><a class="profile" href="/profile/<%=locals.usuarioLogeado.usuarioId%>"><i class="fa-solid fa-user"></i>Perfil</a></li>
            </ul>
    </div>
</tapbar>
